<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unilifeai">

    <application
        android:name=".UniLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniLifeAI">
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoutineActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".StudyTimerActivity" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>
